body {
  padding-bottom: 50px;
}

footer {
  color: #bbb;
  font-size: 0.8rem;

  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 15px;
  padding-top: 10px;

  // Set the fixed height of the footer
  height: 30px;
  background-color: #f5f5f5;
}
