@import "../variables";

#navContainer {
  max-width: none;
  position: relative;

  border-bottom: 1px solid gainsboro;
  margin-bottom: 35px;
  background-color: lightgray;

  font-family: $font-family-heading;

  #mainNav {
    padding: 0;

    a#logo {
      padding: 6px 0 0 0;
      display: block;
      color: #777;
      font-weight: 800;
    }

    a#logo:hover {
      text-decoration: none;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    #collapsingNavbar {
      margin-top:20px;
      padding-bottom: 15px;
      //height: 54px;
    }

    @include media-breakpoint-up(xs) {
      div#logoPic {
        display: none;
      }

      a#logo {
        margin: 10px 0 0 0;
        padding: 10px 0;
        font-size: 2.5rem;
      }
    }

    @include media-breakpoint-up(sm) {
      div#logoPic {
        display: block;
      }

      a#logo {
        margin: 10px 0 0 0;
        padding: 10px 0;
        font-size: 2.2rem;
      }
    }
  }
}