{{ define "title" }}
    {{ .Site.Title }}: {{ .Title }}
{{ end }}

{{ define "meta" }}
    <meta name="keywords" content="{{ delimit .Params.categories ", " }}">
    <meta name="author" content="Josh Padnick">
{{ end }}

{{ define "main" }}
<div class="layout-posts">
    <div class="row">
        <div class="col-lg-1"></div>

        <div class="col">
            <article>
                <header>
                    <h1>{{ .Title }}</h1>
                </header>
                <section class="meta">
                    <time datetime="{{ .Date.Format "2006-01-02 03:04:05.000" }}">{{ .Date.Format "January 2, 2006" }}</time>
                    <span class="categories">{{ range .Params.categories }}</span>
                    <a href="/categories/{{ . }}/" class="badge badge-category">{{ . }}</a>
                    {{ end }}
                </section>
                <section class="content">
                    {{ .Content }}
                </section>
            </article>

            <section class="comments">
                <hr>
                <h4>Comments</h4>
                {{ template "_internal/disqus.html" . }}
            </section>

        </div>

        <div class="col-lg-1"></div>

    </div>
</div>

{{ end }}