@import 'variables';

@font-face {
  font-family: "Franklin ITC";
  font-style: normal;
  font-weight: 400;
  src: url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-Book.eot'); /* IE9 Compat Modes */
  src: url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-Book.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-Book.woff') format('woff'), /* Pretty Modern Browsers */
       url("#{$franklin-itc-font-path}/ITCFranklinGothicStd-Book.ttf")  format("truetype"), /* Safari, Android, iOS */
       url("#{$franklin-itc-font-path}/ITCFranklinGothicStd-Book.svg#svgFontName") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Franklin ITC";
  font-style: normal;
  font-weight: 600;
  src: url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-Med.eot'); /* IE9 Compat Modes */
  src: url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-Med.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-Med.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-Med.woff') format('woff'), /* Pretty Modern Browsers */
       url("#{$franklin-itc-font-path}/ITCFranklinGothicStd-Med.ttf")  format("truetype"), /* Safari, Android, iOS */
       url("#{$franklin-itc-font-path}/ITCFranklinGothicStd-Med.svg#svgFontName") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Franklin ITC";
  font-style: normal;
  font-weight: 700;
  src: url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-DmCd.eot'); /* IE9 Compat Modes */
  src: url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-DmCd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-DmCd.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-DmCd.woff') format('woff'), /* Pretty Modern Browsers */
       url("#{$franklin-itc-font-path}/ITCFranklinGothicStd-DmCd.ttf")  format("truetype"), /* Safari, Android, iOS */
       url("#{$franklin-itc-font-path}/ITCFranklinGothicStd-DmCd.svg#svgFontName") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Franklin ITC";
  font-style: normal;
  font-weight: 800;
  src: url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-Demi.eot'); /* IE9 Compat Modes */
  src: url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-Demi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-Demi.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-Demi.woff') format('woff'), /* Pretty Modern Browsers */
       url("#{$franklin-itc-font-path}/ITCFranklinGothicStd-Demi.ttf")  format("truetype"), /* Safari, Android, iOS */
       url("#{$franklin-itc-font-path}/ITCFranklinGothicStd-Demi.svg#svgFontName") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Franklin ITC";
  font-style: normal;
  font-weight: 900;
  src: url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-Hvy.eot'); /* IE9 Compat Modes */
  src: url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-Hvy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-Hvy.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$franklin-itc-font-path}/ITCFranklinGothicStd-Hvy.woff') format('woff'), /* Pretty Modern Browsers */
       url("#{$franklin-itc-font-path}/ITCFranklinGothicStd-Hvy.ttf")  format("truetype"), /* Safari, Android, iOS */
       url("#{$franklin-itc-font-path}/ITCFranklinGothicStd-Hvy.svg#svgFontName") format("svg"); /* Legacy iOS */
}