// Font
@import url('https://fonts.googleapis.com/css?family=Lora');

// Bootstrap
@import 'variables';
@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/root';
@import 'bootstrap/reboot';
@import 'bootstrap/grid';
@import 'bootstrap/type';
@import 'bootstrap/tables';
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/print";
@import 'bootstrap/utilities';
// @import "bootstrap/images";
// @import "bootstrap/code";
@import "bootstrap/forms";
// @import "bootstrap/buttons";
// @import "bootstrap/transitions";
// @import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
// @import "bootstrap/custom-forms";
// @import "bootstrap/card";
// @import "bootstrap/breadcrumb";
//@import "bootstrap/pagination";
// @import "bootstrap/badge";
// @import "bootstrap/jumbotron";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/media";
@import "bootstrap/list-group";
// @import "bootstrap/close";
// @import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";

// Font Awesome
@import 'fontawesome/fontawesome.scss';
@import 'fontawesome/brands.scss';
@import 'fontawesome/regular.scss';
@import 'fontawesome/solid.scss';

// Components
@import 'components/reset';
@import 'components/polaroids';

// Layouts
@import 'layouts/global';
@import 'layouts/home';
@import 'layouts/about';
@import 'layouts/contact';
@import 'layouts/posts';
@import 'layouts/categories';

// Display breakpoints for DEV
// body:after {
//   color: #000000;
//   font-size: 12px;
//   padding: 5px;
//   font-weight: bold;
//   right: 10px;
//   position: fixed;
//   text-align: center;
//   text-transform: uppercase;
//   bottom: 10px;
//   width: 200px;
//   z-index: 9999;
//   border: solid 1px #000000;
//   @each $name, $value in $grid-breakpoints {
//     @include media-breakpoint-up($name) {
//       content: "#{$name} - min-width: #{$value}";
//     }
//   }
// }