.layout-about {
  background: url(http://zurb.com/playground/uploads/upload/upload/87/wood-bg.jpg) repeat;
  padding: 0;

  .container {
    padding: 15px;
    background: rgba(255,255,255,0.2); // Apply a 20% white transparent background
  }

  section.present, section.past, section.purpose {
    padding: 15px 15px;

    h2 {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  p {
    font-size:1.2rem;
    color: black;
  }

  hr.intersection {
    margin-bottom: 30px;
  }
}