.layout-about {
  background: url("/img/wood-background.jpg") repeat;
  padding: 0;

  .container {
    padding: 15px;
    background: rgba(255,255,255,0.2); // Apply a 20% white transparent background
  }

  section.present, section.past, section.purpose {
    padding: 15px 15px;

    h2 {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  p {
    font-size:1.2rem;
    color: black;
  }

  hr.intersection {
    margin-bottom: 30px;
  }

  // Handle polaroid widths responsively
  @include media-breakpoint-up(xs) {
    #gruntwork-logo img { width: 210px; }
    #phoenix-devops-logo img { width: 210px; }
    #edaris-logo img { width: 210px; }
    #omedix-logo img { width: 210px; }
    #upenn-logo img { width: 210px; }
    #asu-logo img { width: 210px; }
    #family-pic img { width: 210px; }
  }

  @include media-breakpoint-up(sm) {
    #gruntwork-logo img { width: 250px; }
    #phoenix-devops-logo img { width: 300px; }
    #edaris-logo img { width: 300px; }
    #omedix-logo img { width: 300px; }
    #upenn-logo img { width: 300px; }
    #asu-logo img { width: 300px; }
    #family-pic img { width: 250px; }
  }
}

