.layout-categories {

  header.intro {
    background: #fbf7f0 url("https://basecamp.com/assets/general/patterns/bank-note-white-7850c5daa4858905a591d8ea2fb7e7f0753cb200b3342533cfc8f039105eeef4.svg") center center/6rem repeat;
    width:auto;
    padding: 5px 20px 2px 20px;
    margin-top: -3px;

    h1 {
      margin-bottom: 0;
    }

    .numPostsAvailable {
      p {
        margin-bottom: 8px;
      }
    }

    @include media-breakpoint-up(xs) {
      h1 {
        font-size: 2.0rem;
      }
    }

    @include media-breakpoint-up(sm) {
      h1 {
        font-size: 2.5rem;
      }
    }
  }

  article {
    margin-bottom: 40px;
  }

}
