.layout-contact {

  .container {
    padding: 15px;
    background-color: #efefef;
  }

  ul {
    margin-left:20px;
    margin-bottom: 5px;
  }

  li {
    display: inline-block;
    border: none;
    font-size: 1.0rem;
    padding: 5px 10px;
    margin-bottom: 12px;
    margin-right: 10px;

    i {
      margin-right: 4px;
      font-size: 1.5rem;
    }

    a {
      text-decoration: none;
      color: black;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  li:hover {
    background-color: #efefef;
  }

  li#linkedin i {
    color: #4875B4;
  }

  li#twitter i {
    color: #33CCFF;
    margin-right: 0;
  }

  li#email i {
    color: #333333;
  }

  form {

    label {
      font-weight: bold;
    }

    textarea#inputInquiry {
      height: 100px;
    }
  }

}