@import "../variables.scss";

// Body

html {
  position:relative;
  min-height: 100%;
}

body {
  font-family: $font-family-base;
}

a {
  text-decoration: underline;
}

p, ul, ol, li {
  font-size: 1.3rem;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-heading;
}

h1, h2 {
  font-weight: 800;
}

h3, h4 {
  font-weight: 600;
}

h5 {
  font-weight: 600;
}

// Utilities

.col-centered {
  margin: 0 auto;
  text-align: center;
}

// Images

figure {
  text-align: center;

  figcaption {
    font-style: italic;
    text-align: center;
  }
}