// Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint
.custom-class {
  display: none;
}
@include media-breakpoint-up(sm) {
  .custom-class {
    display: block;
  }
}

// Nav
#mainNav {
  border-bottom: 1px solid gainsboro;
  margin-bottom: 35px;
}

// Timestamps

time {
  font-style: italic;
}