.layout-posts {

  // Meta info
  .badge-category {
    color: #aab7ef;
    background-color: #f8f9fa;
    border: 1px solid #cbd3da;
    text-decoration: none;
  }

  section.meta {
    display: block;
    margin-bottom: 10px;

    time {
      font-style: italic;
      margin-right: 10px;
    }

    @include media-breakpoint-up(xs) {
      span.categories {
        margin-top: 5px;
        display: block;
      }
    }

    @include media-breakpoint-up(md) {
      span.categories {
        display: inline;
      }
    }
  }

  article {
    header {
      h1 {
        font-size:2.0rem;
      }

      h2 {
        a {
          color: black;
          text-decoration: none;
        }

        a:hover {
          color: #6a82eb;
          text-decoration: underline;
        }
      }

      @include media-breakpoint-up(xs) {
        h2 {
          font-size:1.6rem;
        }
      }

      @include media-breakpoint-up(sm) {
        h2 {
          font-size:2.0rem;
        }
      }
    }

    section.content, section.summary {
      h2 {
        font-size: 1.6rem;
        margin-top: 20px;
        line-height: 2.2rem;
      }

      ol {
        list-style-type: decimal;
        margin-bottom: 1rem;
        margin-left: 2rem;
      }

      ul {
        list-style-type: disc;
        margin-bottom: 1rem;
        margin-left: 2rem;
      }

      blockquote {
        margin: 0 auto 1rem;
        color: #555555;
        padding: 1.2rem 30px 0.5rem 60px;
        border-left: 8px solid #78C0A8 ;
        line-height: 1.6;
        background: #ededed;
        position: relative;
      }

      blockquote::before{
        font-family: 'Arial', sans-serif;
        content: "\201C";
        color: #78C0A8;
        font-size: 4em;
        position: absolute;
        left: 10px;
        top: -10px;
      }

      a {
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    // Embedded properties
    div.youtube {
      margin: 1.5rem 75px;
    }

    div.vimeo {
      margin: 0 30px 25px;
    }
  }
}