.layout-posts {

  // Meta info
  .badge-category {
    color: #aab7ef;
    background-color: #f8f9fa;
    border: 1px solid #cbd3da;
    text-decoration: none;
  }

  section.meta {
    display: block;
    margin-bottom: 10px;

    time {
      font-style: italic;
    }
  }

  article {
    header {
      h1 {
        a {
          color: black;
        }

        a:hover {
          color: #6a82eb;
        }
      }
    }

    a {
      text-decoration: underline;
    }
  }
}