{{ define "title" }}
    {{ .Site.Title }}: {{ .Title }}
{{ end }}

{{ define "meta" }}
    <meta name="description" content="{{ .Params.description }}">
    <meta name="keywords" content="{{ range $key, $value := .Site.Taxonomies.categories }}{{ $key }}, {{ end }}Josh Padnick, Joshua Padnick">
    <meta name="author" content="Josh Padnick">
{{ end }}


{{ define "main" }}
    <p><a href="/">Home</a></p>

    <h1>Welcome - Posts/List</h1>

    {{ range .Pages }}
    <article>
        <p>{{ .Date.Format "January 2, 2006 3:04pm" }}: <a href="{{ .URL }}">{{ .Title }}</a></p>
    </article>
    {{ end }}

{{ end }}