{{ define "title" }}
    {{ .Site.Title }}: {{ .Title }}
{{ end }}

{{ define "meta" }}
    <meta name="description" content="{{ .Params.description }}">
    <meta name="keywords" content="{{ delimit .Params.categories ", " }}">
    <meta name="author" content="Josh Padnick">
{{ end }}

{{ define "main" }}
<div class="layout-posts">
    <div class="row">
        <!-- Surround the middle column by "col-lg-2" as a hacky way to limit the width of the context on larger viewports -->
        <div class="col-lg-2"></div>
        <div class="col">
            <article>
                <h1>{{ .Title }}</h1>
                <section class="meta">
                    <time datetime="{{ .Date.Format "2006-01-02 03:04:05.000" }}">{{ .Date.Format "January 2, 2006" }}</time>
                    {{ range .Params.categories }}
                    <a href="/categories/{{ . }}/" class="badge badge-category">{{ . }}</a>
                    {{ end }}
                </section>
                <section class="summary">
                    {{ .Content }}
                </section>
            </article>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

{{ end }}