{{ define "title" }}
    {{ .Site.Title }}: {{ .Title }}
{{ end }}

{{ define "meta" }}
    <meta name="description" content="{{ .Params.description }}">
    <meta name="keywords" content="{{ delimit .Params.categories ", " }}">
    <meta name="author" content="Josh Padnick">
{{ end }}

{{ define "main" }}
<p></p><a href="/">Home</a></p>

<h1>Welcome - Posts/Single</h1>

<article>
    <h2>{{ .Title }}</h2>
    <small class="">{{ .Date.Format "January 2, 2006 3:04pm" }}</small>
    {{ .Content }}
</article>

{{ end }}