{{ define "title" }}
{{ .Site.Title }}: {{ .Title }}
{{ end }}


{{ define "main" }}
<div class="layout-about">
    <div class="container">
        <article>
            <section class="content">

                <section class="present">
                    <div class="container">
                        <div class="row">
                            <div class="col-5">
                                <div class="polaroid tilt-left">
                                    <img width="250px" src="https://cdn-images-1.medium.com/max/1600/1*l3rsO0MpYUu-0ZIoy7oc5Q.png">
                                    <div class="caption">Founded in 2016</div>
                                </div>
                            </div>
                            <div class="col">
                                <h1 id="what-i-m-doing">What I'm Currently Doing</h1>
                                <hr>
                                <p>I'm a co-founder at <a href="https://gruntwork.io">Gruntwork</a>, where our mission is to make it 10x easier to build software. Our current focus is DevOps, and we help hundreds of software teams throughout the world avoid the grunt work it takes to run their software in production in the cloud.</p>
                                <p>I am grateful to work with such an <a href="https://gruntwork.io/about">outstanding team</a> and wonderful <a href="https://gruntwork.io/customers/">client base</a>. See our <a href="https://blog.gruntwork.io">blog</a> for the latest on Gruntwork.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="past">
                    <div class="container">

                        <h1 id="what-i-m-doing">Past Lives</h1>
                        <hr>

                        <section class="experience">
                            <div class="row">
                                <div class="col">
                                    <p>Prior to Gruntwork, I founded <a href="http://phoenixdevops.com">Phoenix DevOps</a> as an AWS consulting company where I helped both startups and Fortune 100 companies implement AWS best practices. During this time, I wrote <a href="https://www.airpair.com/aws/posts/building-a-scalable-web-app-on-amazon-web-services-p1">A Comprehensive Guide to Building a Scalable App on Amazon Web Services</a>, which has received over 1,000,000 views since its publication.</p>
                                </div>
                                <div class="col-5">
                                    <div class="polaroid tilt-right">
                                        <img width="100px" src="/about/images/phoenix-devops-logo.png">
                                        <div class="caption">Phoenix DevOps</div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <hr>

                        <section class="experience">
                            <div class="row">
                                <div class="col">
                                    <p>Prior to Phoenix DevOps, I founded Omedix (now <a href="https://www.edaris.com/">Edaris Health</a>) as a patient engagement company that at its peak served over 4,200 providers and 500,000 patient-users, and collected over $20 million in patient payments.</p>
                                    <p>This was the first company I founded and there were some wins, but also many lessons learned. Truthfully, the team did not execute well on our software, which led to missed business opportunities and a profound sense of frustration. This ultimately drove me to intensively self-educate on what it takes to write software effectively.</p>
                                </div>
                                <div class="col-5">
                                    <div class="polaroid tilt-left">
                                        <img width="300px" src="https://www.edaris.com/hubfs/Edaris_mar2017_files/images/edaris_-logo_rgb_web-01-copy.png">
                                        <div class="caption">Omedix Merged with Edaris Health</div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <hr>

                        <section class="experience">
                            <div class="row">
                                <div class="col">
                                    <p>Prior to Omedix / Edaris Health, I earned a BS in Economics with concentrations in finance and information systems from the Wharton School at UPenn.</p>
                                    <p>After I graduated from UPenn, I wanted to move back home to spend time with my parents and get more technical, so I did a second BS in computer science at Arizona State University.</p>
                                </div>
                                <div class="col-5">
                                    <div class="polaroid tilt-right">
                                        <img width="300px" src="https://home.www.upenn.edu/sites/default/files/styles/large_inline/public/penn_fulllogo.gif?itok=s0myWhQQ">
                                        <div class="caption">Wharton / UPenn / ASU</div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <!--<h1 id="what-i-ve-done">What I&rsquo;ve Done</h1>-->
                    <!--<h2 id="phoenix-devops">Phoenix DevOps</h2>-->
                    <!--<h2 id="omedix-now-edaris-health">Omedix (now Edaris Health)</h2>-->
                    <!--<h2 id="university-of-pennsylvania-wharton-arizona-state-university">University of Pennsylvania / Wharton / Arizona State University</h2>-->

                </section>

                <section class="purpose">
                    <div class="container">
                        <div class="row">
                            <div class="col-5">
                                <div class="polaroid tilt-left">
                                    <img width="250px" src="/about/images/family.png">
                                    <div class="caption">New Addition Coming April 2019!</div>
                                </div>
                            </div>
                            <div class="col">
                                <h1>Purpose</h1>
                                <hr>
                                <p>Work isn't the only important thing in life. I love spending time with my wife and son in sunny Phoenix, Arizona, where a little rain is always welcome.</p>
                                <p>In my spare time, I enjoy playing the piano, exercising, reading, and gardening.</p>
                            </div>
                        </div>
                    </div>
                </section>

            </section>
        </article>
    </div>
</div>
{{ end }}