{{ define "title" }}
{{ .Site.Title }}: {{ .Title }}
{{ end }}


{{ define "main" }}
<div class="layout-about">
    <div class="container">
        <article>
            <section class="content">

                <section class="present">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-centered">
                                <div id="gruntwork-logo" class="polaroid tilt-left">
                                    <img src="/about/images/gruntwork.png">
                                    <div class="caption">Founded in 2016</div>
                                </div>
                            </div>
                            <div class="col">
                                <h1>What I'm Currently Doing</h1>
                                <hr>
                                <p>I'm a co-founder at <a href="https://gruntwork.io">Gruntwork</a>, where our mission is to make it 10x easier to build software. Our current focus is DevOps, and we help hundreds of software teams throughout the world avoid the grunt work it takes to run their software in production in the cloud.</p>
                                <p>I am grateful to work with such an <a href="https://gruntwork.io/about">outstanding team</a> and wonderful <a href="https://gruntwork.io/customers/">client base</a>. See our <a href="https://blog.gruntwork.io">blog</a> for the latest on Gruntwork.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="past">
                    <div class="container">

                        <h1>Past Lives</h1>
                        <hr class="intersection">

                        <section class="experience">
                            <div class="row">
                                <div class="col-lg-5 col-centered">
                                    <div id="phoenix-devops-logo" class="polaroid tilt-right">
                                        <img src="/about/images/phoenix-devops.png">
                                    </div>
                                </div>
                                <div class="col">
                                    <h2>Phoenix DevOps</h2>
                                    <p>Prior to Gruntwork, I founded <a href="http://phoenixdevops.com">Phoenix DevOps</a> as an AWS consulting company where I helped both startups and Fortune 100 companies implement AWS best practices. During that time, I wrote <a href="https://www.airpair.com/aws/posts/building-a-scalable-web-app-on-amazon-web-services-p1">A Comprehensive Guide to Building a Scalable App on Amazon Web Services</a>, a 12,000-word guide which has received over 1,000,000 views since its publication.</p>
                                </div>
                            </div>
                        </section>

                        <hr class="intersection">

                        <section class="experience">
                            <div class="row">
                                <div class="col-lg-5 col-centered">
                                    <div id="edaris-logo" class="polaroid tilt-left">
                                        <img src="/about/images/edaris.png">
                                    </div>
                                    <div id="omedix-logo" class="polaroid tilt-right">
                                        <img src="/about/images/omedix.png">
                                    </div>
                                </div>
                                <div class="col">
                                    <h2>Omedix (now Edaris Health)</h2>
                                    <p>Prior to Phoenix DevOps, I founded Omedix (now <a href="https://www.edaris.com/">Edaris Health</a>), a patient engagement company that at its peak served over 4,200 providers and 500,000 patient-users, and collected over $20 million in patient payments.</p>
                                    <p>This was the first company I founded and there were some wins, but also many lessons learned. Truthfully, the team did not execute well on our software, which led to missed business opportunities and a profound sense of frustration. This ultimately drove me to intensively self-educate on what it takes to write software effectively.</p>
                                </div>
                            </div>
                        </section>

                        <hr class="intersection">

                        <section class="experience">
                            <div class="row">
                                <div class="col-lg-5 col-centered">
                                    <div id="upenn-logo" class="polaroid tilt-left">
                                        <img src="/about/images/upenn.png">
                                    </div>
                                    <div id="asu-logo" class="polaroid tilt-right">
                                        <img src="/about/images/asu.jpg">
                                    </div>
                                </div>
                                <div class="col">
                                    <h2>UPenn / Wharton / ASU</h2>
                                    <p>Prior to Omedix / Edaris Health, I earned a BS in Economics with concentrations in finance and information systems from the Wharton School at the University of Pennsylvania.</p>
                                    <p>After I graduated from UPenn, I wanted to get more technical, but also move back home to spend some time with my parents, so I did a second BS in computer science at Arizona State University.</p>
                                </div>
                            </div>
                        </section>
                    </div>

                </section>

                <section class="purpose">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-centered">
                                <div id="family-pic" class="polaroid tilt-left">
                                    <img src="/about/images/family.png">
                                    <div class="caption">New Addition Coming April 2019!</div>
                                </div>
                            </div>
                            <div class="col">
                                <h1>Purpose</h1>
                                <hr>
                                <p>Work isn't the only important thing in life. I love spending time with my wife and son in sunny Phoenix, Arizona, where a little rain is always welcome.</p>
                                <p>In my spare time, I enjoy playing the piano, exercising, reading, and gardening.</p>
                            </div>
                        </div>
                    </div>
                </section>

            </section>
        </article>
    </div>
</div>
{{ end }}