<div id="navContainer">
    <div class="container">
        <nav id="mainNav" class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
            <div id="logoPic" class="polaroid tilt-left">
                <a href="/"><img src="/img/josh-padnick.jpg"></a>
            </div>
            <a id="logo" href="/" class="navbar-brand d-flex mr-auto">Josh Padnick</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse w-100" id="links">
                <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact/">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>