{{ define "main" }}
    <div class="layout-home layout-posts">
        <div class="row">

            <div class="col">
                {{ range (.Paginate (where .Pages "Type" "post")).Pages }}
                <article>
                    <header>
                        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                    </header>
                    <section class="meta">
                        <time datetime="{{ .Date.Format "2006-01-02 03:04:05.000" }}">{{ .Date.Format "January 2, 2006" }}</time>
                        <span class="categories">{{ range .Params.categories }}</span>
                        <a href="/categories/{{ . }}/" class="badge badge-category">{{ . }}</a>
                        {{ end }}
                    </section>
                    <section class="summary">
                        {{ if .Truncated }}
                            {{ .Summary }}
                            <a href="{{ .RelPermalink }}">Read More...</a>
                        {{ else }}
                            {{ .Content }}
                        {{ end }}
                    </section>
                </article>
                {{ end }}

                <div class="d-flex justify-content-center">
                    {{ partial "pagination.html" . }}
                </div>
            </div>

            <div class="col-sm-3 categories">
                <h5>What I Write About</h5>
                <ul>
                    {{ range $key, $value := .Site.Taxonomies.categories }}
                    <li><a href="/categories/{{ $key }}">{{ $key }} ({{ $value | len }})</a></li>
                    {{ end }}
                </ul>
            </div>

        </div>
    </div>
{{ end }}